


body {
  background-image: url(https://www.wallpaperflare.com/static/709/122/454/grass-fantasy-art-trees-green-wallpaper.jpg);
  justify-content: center;
}

.App{
  justify-content: center;
}






