


body {
  background-image: url(https://www.wallpaperflare.com/static/709/122/454/grass-fantasy-art-trees-green-wallpaper.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App{
  justify-content: center;
}






